<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GCQC Contact Us</title>
    <link rel="stylesheet" href="static/styles.css">
   
  </head>
  <body>
    <h1>Contact Us</h1>
    <p>Author Name: Ali Taheri H.A</p>
    <p>Email Address: malitrix@yahoo.com</p>
    <p>Douglas College New Westminster Canada</p>
    <p>Address: 700 Royal Ave, New Westminster, BC V3M 5Z5</p>
    <div id="map"></div>
    <footer>
        Author: Ali Taheri H.A  
        <br> &copy; <em id="date">2023 </em>Douglas Collage Resaech Project
    </footer>
  </body>
</html>
